body{
    background-color: rgba(0, 0, 0, 0.402);
}
.mainContainer {
  max-width: 400px;
  margin: 100px auto;
}
.imageContainer {
  width: 110px;
  border-radius: 100%;
  background-color: #fff;

  margin: 0 auto;
  position: relative;
  top: 50px;
  z-index: 3;
  box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.25),
               inset -5px -5px 5px rgba(0, 0, 0, 0.2);
}
.imageContainer img {
  width: 100%;
}
.form {
  width: 100%;
  /* background-color: rgb(243, 220, 220); #DFFF00*/
  background-color:rgb(20, 232, 20);
  box-sizing: border-box;
  text-align: center;
  padding: 60px 50px 40px;
  border-radius: 30px;
  position: relative;
  z-index: 2;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
            inset -5px -5px 5px rgba(0, 0, 0, 0.2);
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0;
}
.iconContainer {
  width: 16px;
  padding: 10px 12px;
  background-color: #fff;
  border: 2px solid;
  border-radius: 5px;
  border-top-right-radius:0 ;
  border-bottom-right-radius:0 ;
  border-right: none;
  
}
.icon {
  font-size: 21px;
  color:black;
}
.inputBox {
  width: 100%;
  font-size: 18px;
  color: black;
  background-color: #fff;
  border-radius: 5px;
  border-top-left-radius:0 ;
  border-bottom-left-radius:0 ;
  border: 2px solid;
  padding: 12px;
  outline: none;
}
.labelContainer {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-top: 30px;
}
.labelContainer input {
  margin: 0;
  cursor: pointer;
}
.labelContainer a {
  text-decoration: none;
  color: rgba(0, 0, 0, 10);
  font-weight: bold;
  transition: all 0.3s ease;
}
.labelContainer a:hover {
  color: royalblue;
}
.buttonContainer {
  position: relative;
  margin: 0 auto;
  bottom: 17px;
  left: 50px;
  z-index: 1;
}
.buttonBox {
  width: 300px;
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 20px 30px;
  border: none;
  border-radius: 20px;
  /* background-color: #f3dcdc98; */
  background-color: #fff;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.25),
               inset -5px -5px 5px rgba(0, 0, 0, 0.2);
}
